html, body {
padding: 0;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
color: inherit;
text-decoration: none;
}

* {
box-sizing: border-box;
}

.sidebar-items:not(:last-child) {
margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
.sidebar-items {
    margin-bottom: 0 !important;
}
}

.sidebar-items {
color: #c0ac83;
font-size: large;
}

.sidebar-items p {
margin-left: 1em;
margin-bottom: 1em;
}

.sidebar-items:hover svg {
color: gold;
}

.sidebar-items:hover p {
color: gold;
}

.active {
color: goldenrod;
}

.active-icon {
color: goldenrod !important;
}